[![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/https%3A%2F%2Fnbviewer.org%2Fgithub%2FEsepek%2FObject-Oriented-Programming%2Fblob%2Fmain%2FOOP_Python_Notebook.ipynb/HEAD)
.. image:: https://mybinder.org/badge_logo.svg
 :target: https://mybinder.org/v2/gh/https%3A%2F%2Fnbviewer.org%2Fgithub%2FEsepek%2FObject-Oriented-Programming%2Fblob%2Fmain%2FOOP_Python_Notebook.ipynb/HEAD
